{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<title>Ghala Golf Club</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="Ghala Golf Club">
	<meta name="keywords" content="Ghala Golf Club">
	<meta name="description" content="Ghala Golf Club">

	<link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'icomoon/icomoon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />


	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

</head>

<body>



	<div class="preloader"></div>

	<div class="nav nav-overlay">
		<div class="nav__content">
			<div class="container">
				<div class="row p-4 p-md-0 flex-column-reverse flex-md-row g-md-5 nav__block">
					<div class="col-md-4">
						<ul class="nav__list  d-md-block">
							<li class="nav__list-item active-nav"><a href="{% url 'index' %}" class="hover-target">Home</a></li>
							<li class="nav__list-item " ><a href="{% url 'about-us' %}" class="hover-target">About Us</a></li>
							<li class="nav__list-item"><a href="{% url 'news' %}" class="hover-target">News</a></li>
							<li class="nav__list-item"><a href="{% url 'membership' %}" class="hover-target">Membershp</a></li>
							<li class="nav__list-item "><a href="{% url 'golf-academy' %}" class="hover-target">Golf Academy</a></li>
							<li class="nav__list-item"><a href="{% url 'calendar' %}" class="hover-target">Calendar</a></li>
							<li class="nav__list-item  "><a href="{% url 'gallery' %}" class="hover-target">Gallery</a></li>
							<li class="nav__list-item"><a href="{% url 'sponsors' %}" class="hover-target">Sponsors</a></li>
							<li class="nav__list-item"><a href="{% url 'member-lounge' %}" class="hover-target">Member Lounge</a></li>
							<li class="nav__list-item "><a href="{% url 'contact-us' %}" class="hover-target">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-4 text-white nav-hide">
						<h3 class="text-white fw-bold nav__block-item">Unwind, Play, Connect</h3>
						<p class="text-light nav__block-item">Rooted in history and inspired by nature, Ghala Golf Club is dedicated to providing an exceptional environment to unwind, challenge yourself, and connect with others.
						</p>
						
					</div>
					<div class="col-md-4 text-white nav-hide">
						<ul class="list-unstyled text-light nav__block-item">
							<li class="menu-item">
								<i class="icon icon-location me-2"></i>2Way 63, Muscat Express Way، Ansab/Athaiba Exit, Before Al-Muna area، Baushar
							</li>
							<li class="menu-item ">
								<i class="icon icon-phone me-2 "></i>
								+968 9219 4957
							</li>
							<li class="menu-item">
								<i class="icon icon-envelope-o me-2"></i>
								<a href="mailto:proshop@ghalagolf.com"
									class="text-light">proshop@ghalagolf.com
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="main-logo">
		<a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
	</div>

	<div class="side-nav-bar">
		<input id="menu-toggle" type="checkbox" />
		<label class="menu-btn" for="menu-toggle">
			<span></span>
		</label>
	</div>

	<section id="intro" class="scrollspy-section">
		<div class="main-slider">
			<div class="slider-item jarallax" data-speed="0.2">

				<video class="jarallax-img" autoplay muted loop playsinline>
					<source src="{{ header.video.url }}" type="video/mp4">
				</video>

				<div class="banner-content">
					<h2 class="banner-title txt-fx">{{ header.title }}</h2>
					<h3 class="text-white">{{ header.subtitle }}</h3>
				</div>

			</div>
		</div>
	</section>






	<section id="about" class="scrollspy-section padding-xlarge">
		<div class="container">
			<div class="row">

				<div class="col-md-12">

					<div class="section-header">
						<div class="title" data-aos="fade-down" data-aos-delay="500">
							<span>who are we</span>
						</div>
						<h2 class="section-title" data-aos="fade-down" data-aos-delay="400">About Us</h2>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-6" data-aos="fade-right" data-aos-delay="400">
					<figure class="jarallax-keep-img" >
						<img src="{{ about_us.image.url }}" alt="about us" class="jarallax-img single-image">
					</figure>
				</div>
				<div class="col-md-6 description text-lead">
					<p class="mb-3" data-aos="fade-left" data-aos-delay="200"><strong>{{ about_us.description_1 }}</strong></p>
					<p class="mb-4" data-aos="fade-left" data-aos-delay="300">{{ about_us.description_2 }}</p>
					<p class="mb-0" data-aos="fade-left" data-aos-delay="400">{{ about_us.description_3 }}</p>

					<div class="btn-wrap  col-3" data-aos="fade-up" data-aos-delay="600">
						{% if about_us.button_url_name %}
							<!-- <a href="{% url about_us.button_url_name %}" class="btn btn-accent btn-xlarge btn-rounded">
								{{ about_us.button_text }}
							</a> -->

							<a href="{% url about_us.button_url_name %}" 
								class="btn btn-xlarge btn-accent btn-rounded d-flex justify-content-between align-items-center" 
								style="border-radius: 0 !important; min-width: 280px !important; font-size: 0.9em !important;">
								<span style="font-size: 14px !important;">{{ about_us.button_text }}</span>
								<i class="fas fa-arrow-right"></i>
							</a>
						{% else %}
							<!-- <a href="#" class="btn btn-accent btn-xlarge btn-rounded">
								{{ about_us.button_text }}
							</a> -->
							<a href="{% url about_us.button_url_name %}" 
								class="btn btn-xlarge btn-accent btn-rounded d-flex justify-content-between align-items-center" 
								style="border-radius: 0 !important; min-width: 280px !important;">
								<span style="font-size: 14px !important;">{{ about_us.button_text }}</span>
								<i class="fas fa-arrow-right"></i>
							</a>
						{% endif %}


						
					</div>

				</div>
			</div>

		</div>
	</section>

	

	<section id="services" class="scrollspy-section padding-large">
    <div class="container">
        <div class="row">
            <div class="section-header col-12">
                <div class="title" data-aos="fade-down" data-aos-delay="500">
                    <span>what we do</span>
                </div>
                <h2 class="section-title" data-aos="fade-down" data-aos-delay="400">Services</h2>
            </div>
        </div>

        <div class="row">
            {% for s in services %}
            <div class="col-md-4">
                <div class="services-item">
                    <span class="number" data-aos="fade-down" data-aos-delay="500">{{ s.formatted_order }}</span>
                    <h3 data-aos="fade-down" data-aos-delay="500">{{ s.title }}</h3>
                    <p data-aos="fade-down" data-aos-delay="400">{{ s.description }}</p>
                </div>

                {% if s.button_url %}
                <div class="btn-wrap">
                    <a href="{{ s.button_url }}" class="btn-with-line-custom text-dark">
                        {{ s.button_text }}
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </div>
</section>



	

	<!-- <section id="subscribe" class="scrollspy-section padding-small">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<figure class="subscribe-image">
						<img src="{% static 'images/subscribe-image.png' %}" alt="subscribe">
					</figure>
				</div>
				<div class="col-md-6">
					<div class="subscribe-content">
						<h2 class="section-title">subscribe us</h2>
						<p>Stay updated with the latest golf tips, gear updates, and exclusive offers. Join 300+ golfers already improving their game.</p>
						<form id="form">
							<input type="text" name="email" placeholder="enter your email address">
							<button class="btn btn-accent btn-rounded btn-full btn-xlarge">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section> -->










	

	<section id="latest-blog" class="scrollspy-section bg-grey padding-large">
		<div class="container">

			<div class="row mb-5">

				<div class="col">

					<div class="section-header">
						<div class="title" data-aos="fade-down" data-aos-delay="500">
							<span>News & Highlights</span>
						</div>
						<h2 class="section-title" data-aos="fade-down" data-aos-delay="400"> In the Know</h2>
					</div>
					
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">

					<div class="post-grid">
						<div class="row">

							{% for news in latest_news %}
							<div class="col-md-4 col-sm-12">

								<article class="post-item" data-aos="fade-down" data-aos-delay="500">

									<figure >
										<a href="{% url 'news_detail' news.id %}" class="image-hvr-effect">
											{% if news.featured_image %}
												<img src="{{ news.featured_image.url }}" alt="{{ news.title }}" class="post-image">
											{% else %}
												<img src="{% static 'images/hero.jpg' %}" alt="{{ news.title }}" class="post-image">
											{% endif %}
										</a>
									</figure>

									<div class="post-content">
										<div class="meta-date" data-aos="fade-out" data-aos-delay="600">{{ news.publish_date|date:"M d, Y" }}</div>
										<h3 class="post-title" data-aos="fade-out" data-aos-delay="500"><a href="{% url 'news_detail' news.id %}">  {{ news.title|truncatechars:25 }}</a></h3>
										<p data-aos="fade-out" data-aos-delay="400">{{ news.content|truncatewords:10 }}</p>
										
										
										<div class="btn-wrap" data-aos="fade-out" data-aos-delay="400">
											<a href="{% url 'news_detail' news.id %}" class="btn-with-line-black">Read More</a>
										</div>

							
									</div>
									
										

									
								</article>

							</div>
							{% endfor %}

						</div>
					</div>

				</div>
			</div>
			<a href=" {% url 'news' %} " 
				class="btn btn-xlarge btn-accent btn-rounded d-flex justify-content-between align-items-center"  data-aos="fade-out" data-aos-delay="500"
				style="border-radius: 0 !important; min-width: 280px !important; max-width: 280px !important;">
				<span style="font-size: 14px !important;">View all News</span>
				<i class="fas fa-arrow-right"></i>
			</a>
		</div>
	</section>


	<section class="team-section  bg-grey ">
		
		<div class="container">
			<div class="row mb-5">

				<div class="col">

					<div class="section-header">
						<div class="title" data-aos="fade-down" data-aos-delay="500">
							<span>Meet the people driving our success</span>
						</div>
						<h2 class="section-title" data-aos="fade-down" data-aos-delay="400">Our Team</h2>
					</div>
				</div>

			</div>
			<div class="row g-4">
				{% for member in team_members %}
				<div class="col-md-6 col-lg-4 d-flex">
					{% if member.image %}
					<img src="{{ member.image.url }}" class="team-img me-3" alt="{{ member.name }}">
					{% endif %}
					<div class="text-start">
						<h3 class="fw-bold mb-1" data-aos="fade-out" data-aos-delay="400">{{ member.name }}</h3>
						<p class="text-muted mb-1" data-aos="fade-out" data-aos-delay="600">{{ member.position }}</p>
						{% if member.description %}
						<p class="small text-secondary mb-2">{{ member.description }}</p>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</section>

	<section id="contact" class="scrollspy-section bg-dark padding-large">
		<div class="container">

			<div class="row">
				<div class="col-md-6" data-aos="fade-out" data-aos-delay="500">

					<div class="left-content">

						<div class="section-header">
							<div class="title">
								<span>Get in touch</span>
							</div>
							<h2 class="section-title light">Contact us</h2>
						</div>

						<p>Do You Have Any Further Question?</p>

						<form id="form-contact" class="form-light" method="POST" action="">
							{% csrf_token %}

							<p><input type="text" name="name" placeholder="Your Full Name*" required></p>
							<p><input type="text" name="email" placeholder="Your Email Address" required></p>
							<p><textarea name="message" placeholder="Your Message" required></textarea></p>

							<button class="btn btn-accent btn-rounded btn-xlarge btn-full">Submit</button>
						</form>




					</div>

				</div><!--left-content-->

				<div class="col-md-6" data-aos="fade-out" data-aos-delay="700">
					<div class="right-content">

						<!-- <div class="iconbox">
							<i class="icon icon-location"></i>
							<div class="detail">
								<strong>Address 1:</strong>
								<p>3927 Red Maple Drive, Los Angeles</p>
							</div>
						</div> -->
						<div class="iconbox">
							<i class="icon icon-location2"></i>
							<div class="detail">
								<strong>Address :</strong>
								<p>{{ contact_info.address }}</p>
							</div>
						</div>

						<div class="iconbox">
							<i class="icon icon-phone"></i>
							<div class="detail">
								<strong>Phone:</strong>
								<p>{{ contact_info.phone }}</p>
							</div>
						</div>

						<div class="iconbox">
							<i class="icon icon-mail3"></i>
							<div class="detail">
								<strong>Email:</strong>
								<p><a href="mailto:{{ contact_info.email }}">{{ contact_info.email }}</a></p>
							</div>
						</div>

					</div>
				</div><!--right-content-->

			</div>

		</div>
	</section>

	<section id="testimonial" class="padding-large">
		<div class="container">

			<div class="row">
			{% for insight in insights %}
				<div class="col-md-6" data-aos="fade-right" data-aos-delay="600">
					{% if insight.image %}
						<figure class="jarallax-keep-img testimonial-image" data-speed="0.5">
							<img src="{{ insight.image.url }}" alt="insight image" class="jarallax-img">
						</figure>
					{% endif %}
				</div>

				<div class="col-md-6">

					<div class="testimonial-block">
						<div class="section-header">
							<div class="title" data-aos="fade-down" data-aos-delay="500">
								<span>In Their Own Words</span>
							</div>
							<h2 class="section-title" data-aos="fade-down" data-aos-delay="400"> Personal & engaging</h2>
						</div>
						<div class="testimonials-inner">
							<q data-aos="fade-out" data-aos-delay="700">{{ insight.quote }}</q>
							<!-- <div class="testimonial-author">
								<div class="author-detail">
									<div class="name">{{ insight.author_name }}</div>
									<div class="author-title">{{ insight.author_title }}</div>
								</div>
							</div> -->
							<div class="btn-wrap" data-aos="fade-out" data-aos-delay="500">
								<a href="{% url 'member-lounge' %}" class="btn-with-line-black">Read More</a>
							</div>
						</div>
					</div><!--reviews-content-->

				</div>
			{% endfor %}
			</div><!--grid-->


		</div>
	</section>









	
	<footer id="footer">
		
			<div class="container">
				
				<div class="row">

					<div class="col-md-3">

						<div class="footer-menu menu-item-01">
							<img src="{% static 'images/logo.png' %}" alt="logo" class="footer-logo">
							<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste consequatur nulla iusto omnis aliquam alias at libero? Voluptates, minus!</p> -->
							
						</div>

					</div>

					<div class="col-md-3">

						<div class="footer-menu menu-item-02">
							<h5>quick links</h5>
							<ul class="menu-list">
								<li class="menu-item">
									<a href="{% url 'index' %}">home</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'about-us' %}">about us </a>
								</li>
								<li class="menu-item">
									<a href="{% url 'membership' %}">membership</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'calendar' %}">calendar</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'news' %}">news</a>
								</li>
								
							</ul>
						</div>

					</div>

					<div class="col-md-3">

						<div class="footer-menu menu-item-03">
							<h5>contact info</h5>
							<ul class="menu-list">
								
								<li class="menu-item">
									<i class="icon icon-location2"></i>Way 63, Muscat Express Way، Ansab/Athaiba Exit, Before Al-Muna area، Baushar
								</li>
								<li class="menu-item">
									<i class="icon icon-phone"></i>+968 9219 4957
								</li>
								<li class="menu-item">
									<i class="icon icon-envelope-o"></i><a href="mailto:proshop@ghalagolf.com" class="mail-id">proshop@ghalagolf.com</a>
								</li>
							</ul>
						</div>

					</div>

					<div class="col-md-3">

						<div class="footer-menu menu-item-04">
							<h5>Follow Us</h5>
							<div class="social-links">
								<ul>
									<li>
										<a href="https://www.facebook.com/GhalaGolfClub/"><i class="icon icon-facebook"></i></a>
									</li>
									
									<li>
										<a href="https://www.instagram.com/ghalagolfclub?igsh=MTl0eW5udzcyb2FsbA=="><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="https://www.linkedin.com/company/ghala-golf-club/posts/?feedView=all"><i class="fab fa-linkedin-in"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>

				</div>
			</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="copyright">
						<p> All rights reserved.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="copyright text-right">
						<p>© 2025 <a href="{% url 'index' %}"target="_blank">Ghala Golf Club.</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
	<script src="{% static 'js/ui-easing.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>



		
	<script>
		AOS.init({
			duration: 1000,  
			once: true,      
		});
	</script>




	<script>
		{% if messages %}
			{% for message in messages %}
				toastr.options = {
					"closeButton": true,
					"progressBar": true,
					"timeOut": "5000"
				};

				{% if message.tags == "success" %}
					toastr.success("{{ message }}");
				{% elif message.tags == "error" %}
					toastr.error("{{ message }}");
				{% else %}
					toastr.info("{{ message }}");
				{% endif %}
			{% endfor %}
		{% endif %}
	</script>


</body>

</html>